#board-style>#pieceImage{background-image:url(../img/pieces/maurizio-monge-fantasy/pieces.png);}
#board-style>#backgroundColors{color:#eaeaea;background-color:#9063ff;}
#board-style>#highlightColors-1{color:#ffff80;background-color:#ffff4c;}
#board-style>#highlightColors-2{color:#ffb3b3;background-color:#ff8080;}
#board-style>#highlightColors-3{color:#d17547;background-color:#b85c2e;}
