#board-style>#pieceImage{background-image:url(../img/pieces/wikipedia/pieces.png);}
#board-style>#backgroundColors{color:#3ed685;background-color:#0b7d40;}
#board-style>#highlightColors-1{color:#d3813e;background-color:#b46829;}
#board-style>#highlightColors-2{color:#a38fe0;background-color:#8367d6;}
