
.board .dark{background-color:#0000cc;}
.board .dark:hover{background-color:#000080;}
.board .light{background-color:#9999ff;}
.board .light:hover{background-color:#e6e6ff;}
.highlight_move_to{background:none !important;background-color:#ffff66 !important;}
.highlight_move_from{background:none !important;background-color:#ffffb3 !important;}
.highlight_input_move_from{background:none !important;background-color:#ff6666 !important;}
