#board-style>#pieceImage{background-image:url(../img/pieces/maurizio-monge-fantasy/pieces.png);}
#board-style>#backgroundColors{color:#ffffff;background-color:#3333ff;}
#board-style>#highlightColors-1{color:#ffffb3;background-color:#ffff66;}
#board-style>#highlightColors-2{color:#ff8080;background-color:#ff3333;}
