body{background:#ffffff;color:#000000;}
h1,h2,h3,h4,h5,h6{color:#000000;text-shadow:;}
a,a:hover,a:visited{color:white;}
.box{border:1px solid black;}
.menu{background:#000000;}.menu a{text-decoration:none;}
.menu_item{text-shadow:;color:white;}
.menu_item:hover{background:#cccccc;}
.head_logo:hover{background:black;}
.hl_text{text-shadow:;}
.roundbutton,input[type=submit]{background:#333333;color:#cccccc;border:0.1px solid #cccccc;text-align:center;min-width:100px;}
.roundbutton:hover,input[type=submit]:hover{background:#cccccc;color:#000000;cursor:pointer;}
select{background:#cccccc;color:#000000;}
#data{color:white;}
#data .data_header{background-color:#000000;text-align:left;border-top:1px dashed black;}
#data .data_header .data_header_title{text-shadow:;}
#data .data_content{background-color:#ffffff;color:black;}
.message{color:black;}
.time{color:black;}
#chat_history{padding:2px 2px;color:#000000;}
.chat_username{color:#ffffff;}
.chat_self{color:#333333;}
.chat_other{color:#000000;}
.gameSelection .entry{background-color:#333333;color:#ffffff;}
.gameSelection .entry:hover{background-color:#ffffff;color:#333333;}
#created_links{border:1px solid white;}
#created_links a{color:#cccccc;}
#conn_status{display:inline;}
.conn_bad{background:#FF643D;}
.conn_unknown{background:#FFFF5C;}
.conn_good{background:#3DFF64;color:black;}
#basic-modal-content{display:none;}
#simplemodal-overlay{background-color:#000;cursor:wait;}
#simplemodal-container{min-height:110px;min-width:300px;color:#bbb;background-color:#333;border:4px solid #444;padding:12px;}
#simplemodal-container .simplemodal-data{padding:8px;}
#simplemodal-container code{background:#141414;border-left:3px solid #65B43D;color:#bbb;display:block;font-size:12px;margin-bottom:12px;padding:4px 6px 6px;}
#simplemodal-container a{color:#ddd;}
#simplemodal-container a.modalCloseImg{background:url(../img/basic/x.png) no-repeat;width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:-15px;right:-16px;cursor:pointer;}
#simplemodal-container h3{color:#84b8d9;}
